.book {
  position: absolute;
  left: 6px;
  bottom: 0;
  width: 1440px;
  height: 200px;
  padding: 35px 50px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(70px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 20px 20px 0px 0px;
}

.book__title {
  font-family: 'SF Pro Text Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  display: flex;
  align-items: center;
  color: #ffffff;
  mix-blend-mode: normal;
}

.book__content {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.book__panel_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  border: 1px solid rgba(231, 231, 242, 0.3);
  border-radius: 10px;
}

.accomodation,
.checkin,
.checkout {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  border-right: 1px solid rgba(231, 231, 242, 0.3);
}
.accomodation {
  width: 465px;
  padding: 15px;
  justify-content: space-between;
}

.book_item__wrapper {
  display: flex;
}
.book_item__text {
  margin: 8px 0 0 0;
  color: white;
}

.book_item__title {
  margin: 0;
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 100% */

  color: #e7e7f2;

  opacity: 0.6;
}
.book_item__content {
  color: white;
  margin-left: 15px;
}

.checkin {
  width: 190px;
  justify-content: space-between;
  padding-left: 16px;
}

.checkout {
  padding-left: 10px;
  width: 150px;
}

.guests {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  width: 265px;
  justify-content: space-between;
  padding-left: 16px;
}

.guests img {
  margin-right: 15px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 72px;
  cursor: pointer;

  background: #91cb82;
  border-radius: 10px;
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */
  color: #ffffff;
  border: 0;
}
