html,
body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  padding: 0;
  margin: 0 auto;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/San Francisco Pro Text/SF-Pro-Display-Black.otf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display 600';
  src: url('../assets/San Francisco Pro Text/SF-Pro-Display-Semibold.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text Bold';
  src: url('../assets/San Francisco Pro Text/SF-Pro-Text-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('../assets/San Francisco Pro Text/FontsFree-Net-SFProText-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display Semibold';
  src: url('../assets/San Francisco Pro Text/SF-Pro-Display-Semibold.otf');
  font-weight: 900;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.wrapper {
  /* background: linear-gradient(rgba(65, 66, 99, 0.09), url(/public/static/img/MaskGroup.png)); */
  /* background-image: url('../public/static/img/MaskGroup.png');
   */
  background: linear-gradient(180deg, #131317 -60.19%, rgba(65, 66, 99, 0.09) 50%),
    url('../public/static/img/MaskGroup.png') no-repeat center;
  background-size: cover;

  width: 100%;
  height: 100vh;
  /* background-size: cover;
  background-repeat: no-repeat; */
}

.content {
  padding: 0;
  margin: auto;
  position: relative;
  height: 100%;

  border-radius: 10px;
  max-width: 1440px;

  /* background-image: url('../public/static/img/Mask Group.png');
    background-position: center;
    background-size: cover; */
}
header {
  height: 100px;
  border-bottom: 1px solid rgba(231, 231, 242, 0.4);
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background: transparent;
}

h1 {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 110%;
  letter-spacing: 0.01em;
  color: white;
}

h2 {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 150%;

  color: #ffffff;

  opacity: 0.8;
}
